numpy
pandas
seaborn
matplotlib
psycopg2
python-dotenv
scikit-learn


catboost
xgboost

Flask
dill
mlflow
mlflow-dagshub
#-e . # Automatically install the setup.py file 
     # ie. python setup.py install